/***navbar */
.navbar{
	height: 15vh;
	/*background: var(--mainColor) !important;*/
  margin-left: 1.1vw;
  margin-right: 0.2vw;
  box-shadow: 0px 2px 6px 4px #ededed;
}
.navbar-brand{
	  color:  var(--mainColor);
    font-size: 2.5vw;
    font-weight: bold;
    font-family: system-ui;
}
.navbar-brand:hover{
  color:  var(--mainColor);
}
.navbar-nav{
    margin: auto;
}
.navbar-nav li{
	margin: 0 2vw;
}
.navbar-nav .nav-link,.navbar-nav .nav-link.active{
	color:var(--textColor);
	font-weight: bold;
}
.navbar-nav .nav-link.active{
	 border-bottom: white solid;
}
  .bg-body-tertiary{
    background-color: #fcfdfd !important;
}
.add-nav{
  background-color: var(--textColor);
}