
/* classes **/
.none{display: none;}
.w-fit{width: fit-content;}
.top-container{
	margin: 22vh auto 5vh;
	min-height: 135vh;
}
.paid,.free{
   color: var(--textColor);
}

/** show page */
.show-wrapper{
	padding: 0;
}
.main,.main2,.main3{
	border: 1px solid lightgray;
	margin-bottom: 5vh;
}
.main{height: 85vh;}
.main img{height: 85%;}

.main2{height: 80vh;} 
.main2 img{height: 85%;}

.main3{height: 80vh;}
/*.main3 img{height: 85%;} */

.featured-icons-div{
	direction: ltr;
  }
.featured-icons-div div a{
	margin-right: 2.5vw;
    font-size: 1.7vw;
}
.full-tel{color:#81eee0;}
.full-whats{color: #80ce07;}
.full-globe{color: #f8be0f;}
.full-env{color: #677ef1;}
.full-you{color: #f47373;}
.empty{color: #e2e1e1;}

@media (min-width:768px){
     .main,.main2{width: 49%;/*height: 55vh;*/}
}
@media (min-width:992px){
	.main{width: 49%;/*height: 55vh;*/}
	 .main2,.main3{width: 32%;}
}
@media (max-width: 767.98px){
	.main,.main2,.main3{margin: 0 auto 5vh;width:100%}
}

/** click img to enlarge*/
.overlay {
	position: fixed;
	top: 30px;
	top: 51px;
	left: 0;
	width: 100%;
	height: 100%;
	height: calc(100% - 35px);
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.overlay img {
	max-width: 90%;
	max-height: 90%;
}
.close-btn {
	position: absolute;
	top: 70px;
	right: 25px;
	font-size: 30px;
	color: #e11313;
	cursor: pointer;
}
.no-scroll{
	overflow: hidden;
}

/** search form */
.form-parent{
	background: #e5ecf3;
    padding: 3vh 0;
    margin: 2vh auto 5vh;
}
#formSearch{
	background: var(--mainColor);
	margin: 14vh auto 9vh;
	width: 85%;
}
#formSearch select{
	color: var(--textColor);
	padding: 2vh 1vw;
    border: none;
    border-radius: .5vw;
}
#formSearch button, #formSearch input, #formSearch ::placeholder{
	background: white;
    color: var(--textColor);
}
#formSearch input{
	cursor: initial;
}
@media(min-width:768px){
	#formSearch select{width: 32%;}
	#formSearch input{margin-left: 1.5vw;}
	#formSearch button{width: 8%;}
}
/*.item {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;
}
.title {
	font-weight: bold;
}*/

.loadingSpan{
	font-size: 2vw;
	color: gray
}
.spinner{
	height: 1.5rem;
    width: 1.5rem;
	vertical-align: bottom;
	color: gray;
}
